@font-face {
    font-family: 'Alibaba-PuHuiTi-B';
    src:url('../fonts/Alibaba-PuHuiTi-Bold.ttf')format('truetype');
}

@font-face {
    font-family: 'Alibaba-PuHuiTi-R';
    src:url('../fonts/Alibaba-PuHuiTi-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'Alibaba-PuHuiTi-M';
    src:url('../fonts/Alibaba-PuHuiTi-Medium.ttf')format('truetype');
}



